.whatsappButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: var(--white);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  font-size: 35px;
}

/* Effects */
@media (hover: hover) and (pointer: fine) {
  .whatsappButton:hover {
    transform: scale(1.1);
  }
}
