.mainBrands {
  width: 100%;
}

.containerBrands {
  width: 95%;
  height: 120px;
  max-width: 1400px;
  margin: auto;
  background: var(--blue);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.iconsBrands {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.iconsBrands img {
  width: 100%;
  max-width: clamp(70px, 10vw, 120px);
  height: auto;
  object-fit: fill;
}

.iconsBrands img:nth-child(2) {
  max-width: clamp(60px, 10vw, 110px) !important;
}
.iconsBrands img:nth-child(3) {
  margin-top: 5px;
  max-width: clamp(60px, 10vw, 110px) !important;
}

@media screen and (max-width: 768px) {
  .iconsBrands img:nth-child(2),
  .iconsBrands img:nth-child(3) {
    width: 100%;
    max-width: clamp(50px, 10vw, 100px) !important;
  }
}
