.mainFooter {
  width: 100%;
  display: flex;
  background-color: var(--blue);
  flex-direction: column;
}

.containerFooter {
  width: 80%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 60px 0 0 0;
}

.infoFooter {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.phoneFooter,
.emailFooter,
.addresFooter {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  color: var(--white);
  font-weight: 200;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: var(--light-blue);
}

.socialsFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logoFooter img {
  width: 100%;
  max-width: 160px;
  height: auto;
}

.iconsFooter {
  display: flex;
  gap: 15px;
}

.iconWrapper.iconSocialFooter a {
  display: flex;
}

.iconWrapper.iconSocialFooter a svg {
  color: var(--white);
  transition: transform ease-in-out 0.2s;
}

.lineFooter {
  width: 80%;
  max-width: 1300px;
  height: 1px;
  background-color: var(--white);
  margin: 40px auto;
}

.endFooter {
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 40px 10px;
}

.endMenuFooter {
  display: flex;
  gap: 25px;
}

.endMenuFooter a {
  font-weight: 200;
  font-size: 0.9rem;
  color: var(--white);
  cursor: pointer;
}

.copyFooter {
  color: var(--white);
  font-weight: 200;
  font-size: 0.9rem;
}

/* Effects */
@media (hover: hover) and (pointer: fine) {
  .iconWrapper.iconSocialFooter a svg:hover {
    transform: scale(1.1);
  }
}

/* Media Querie */
@media screen and (max-width: 768px) {
  .containerFooter {
    flex-direction: column;
    gap: 50px;
  }
}
