.mainPartsThree {
  width: 100%;
  background: radial-gradient(circle at center, #2371df, var(--blue));
}

.containerPartsThree {
  width: 80%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3% auto;
}

.sliderPartsThree {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentPartsThree {
  width: 100%;
  overflow: hidden;
}

.titlePartsThree {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.2rem;
}

.titlePartsThree p {
  color: var(--white);
  padding-bottom: 3px;
  font-weight: 300;
  text-align: center;
}

.itemPartsThree {
  height: 100%;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.infoPartsThree {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.infoPartsThree img {
  width: 100%;
  max-width: 200px;
  height: auto;
  transition: transform 0.2s ease-in-out;
  filter: drop-shadow(0px 3px 8px #00000030);
}

.namePartsThree {
  text-align: center;
}

.markNamePartsThree {
  color: var(--white);
  font-weight: 200;
  font-size: 0.75rem;
}

.titleNamePartsThree {
  color: var(--white);
  font-weight: 500;
  font-size: 0.9rem;
}

.moedaPartsThree {
  font-size: 1.1rem;
}

.pricePartsThree {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: center;
  color: var(--white);
}

.parcelaPartsThree {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--white);
}

.buttonContainer {
  width: 100%;
  text-decoration: none;
  padding: 0 10px;
}

.buttonPartsThree {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 0.9rem;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  border: 1px solid var(--white);
  color: var(--white);
  background-color: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
}

.arrowLeft,
.arrowRight {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.arrowLeft {
  margin-right: -13px;
}

.arrowRight {
  margin-left: -13px;
}

.arrowLeft svg,
.arrowRight svg {
  color: var(--black);
  transition: all 0.2s ease-in-out;
}

.loadingText {
  text-align: center;
  color: var(--white);
}

/* Effects */
.arrowLeft svg:active,
.arrowRight svg:active {
  transform: scale(0.9);
}

@media (hover: hover) and (pointer: fine) {
  .infoPartsThree img:hover {
    transform: scale(1.02);
  }

  .buttonPartsThree:hover {
    background-color: var(--white);
    color: var(--gray-btn);
  }
}

@media screen and (max-width: 768px) {
  .containerPartsThree {
    padding: 4% 0;
  }
}
